/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.page-banner {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.page-banner__img {
  width: 100%;
}

.page-banner__more-inf {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .page-banner {
    text-align: center;
  }

}

.todo-list {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
  outline: none;
}

.task-row-wrapper {
  display: flex;
}

#completed-tasks,
#incomplete-task {
  margin: 0;
  padding: 0;
}

.incomplete-task__item,
.complete-task__item,
.page-heading {
  list-style: none;
}


.delete-button,
.add-button,
.edit-button {
  background: none;
  border: 0;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
  outline: none;
}

.delete-button:hover {
  color: #3a3A3a;
}

.add-button:hover {
  color: #3a3A3a;
}

.edit-button:hover {
  color: #3a3A3a;
}


/* Heading */
.page-heading,
.new-task__label_heading {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  text-transform: uppercase;
  display: block;
  margin: 0 0 20px;
}

#new-task {
  width: 318px;
}

/* Task list */
.incomplete-task__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.complete-task__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.edit-button,
.delete-button,
.task,
.task__checkbox {
  vertical-align: middle;
}


.task__checkbox {
  margin: 0 10px;
  outline: none;
}


.task.task__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.delete-button__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.delete-button__img:hover {
  transform: rotateZ(0);
}

/* Completed */
#completed-tasks .task.task__label {
  text-decoration: line-through;
  color: #888;
  margin: 0;
}

/* Edit Task */

.incomplete-task__item .task__text-input {
  display: none;
}

.edit-mode .task__text-input {
  display: inline-block;
  width: 224px;
}

.edit-mode .task__label {
  display: none;
}

.task__text-input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  width: 226px;

}

.task__text-input:focus {
  color: #333;
}